<div>
	<div align="center" style="background:#fff;border:solid 3px #bfbfbf;border-radius:10px;box-shadow:0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);color:rgba(0,0,0,.87);display:block;font-family:Roboto,&apos;Helvetica Neue&apos;,sans-serif;font-size:x-large;font-weight:bold;margin:40px;padding:0px;position:relative;transition:box-shadow 280ms cubic-bezier(.4,0,.2,1)">
		<div align="center" style="background: #bfbfbf;">
			<a href><img _ngcontent-sc1 height="75px" src="cid:myimagecid"></a>
		</div><p></p>
		<div align="center">Welcome to STG Hakeathon 2019 !!!!!</div><p></p><p></p>
		<div _ngcontent-sc1 align="center" style="display:block;font-size:14px;margin-bottom:16px;padding-bottom:75px;">
			<div align="center">
			<div align="center">Hello @@firstName@@ @@lastName@@</div><p></p>
			<div align="center">Gear up with your programming skills.</div>
			<div align="center">Be ready with your ideas !!!</div>
			</div>
		</div>
		<div style="font-size:xx-small;font-weight:0;"><p></p><p></p>Note:Responses to this mailbox will not be monitored.<p></p></div>
		<div align="center" style="background-color:#bfbfbf;margin-bottom:0;padding:10px;font-size:small">
			<div align="center">
				<a href="http://localhost:4200/emails/subscribe/@@messageId@@/Y" style="cursor:pointer;margin-right:5px;text-decoration:none" ng-reflect-klass="section" ng-reflect-ng-class="[object Object]"> Subscribe </a>
				<span style="margin-right:5px">|</span>
				<a href="http://localhost:4200/emails/subscribe/@@messageId@@/N" style="cursor:pointer;text-decoration:none" ng-reflect-klass="section" ng-reflect-ng-class="[object Object]"> Unsubscribe </a>
			</div>
		</div>
	</div>
</div>